<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Login </title>
    <link rel="stylesheet" href="/css/styless.css">
    <script src="https://kit.fontawesome.com/c125233786.js" crossorigin="anonymous"></script>
</head>

    <body class="body">
        <header class="body__header">
            <div class="body__header__div--logo-form-subtitulo">
                <img class="body__header--logo" src="/images/logo-mercado-liebre.svg" alt="">
                <form class="body__header--barrabusqueda" action="">
                    <input type="text">
                    <button>Buscar</button>
                </form>
                <p class="body__header__subtitulo"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y
                    sin
                    tarjeta de crédito </p>
            </div>
            <nav class="body__header__nav">
                <ul class="body__header__nav--ul1">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="body__header__nav--ul2">
                    <li><a href="/register">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
    
                </ul>
                <div class="body__header__nav__burger">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </header>
        <main class="body__login__main">
            <form action="">
                <div class="body__login__main__div">
                    <label for="usuario">Nombre de Usuario</label>
                    <input type="text" name="usuario" id="usuario">
                </div>
                <div class="body__login__main__div">
                    <label for="clave">Contraseña</label>
                    <input type="password" name="clave" id="clave">
                </div>
               <div class="body__login__main__divbutton">
                <button type="submit"><a href="/">Enviar</a></button>
               </div>
            </form>
        
        </main>
        <footer class="footer">
            <div> <i class="fa-solid fa-credit-card"></i> </div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <div> <i class="fa-solid fa-gift"></i> </div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <div> <i class="fa-solid fa-user-shield"></i> </div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </header>
        
    
</body>

</html>