/* Header */
.body__header {
    background-color: var(--colorAmarillo);
}

.body__header__subtitulo {
    text-align: center;
    margin: 20px 0px 20px;
}

.body__header__nav ul li a {
    color: black;
}

.body__header__nav--ul1 {
    margin-bottom: 20px;
}

.body__header__nav--ul2 {
    margin-bottom: 20px;
}

.body__header__nav__burger {
    text-align: center;
    padding-bottom: 20px;
}


.body__header__nav__burger i {
    color: var(--colorGrisClaro);
    background-color: var(--colorCeleste);
    width: 35px;
    height: 35px;
    font-size: 20px;
    border-radius: 15%;
    padding: 8px;
}



/* Main */

/* Footer */


.footer h4 {
    font-size: 18px;
    margin: 0px 0 0 0;
    font-weight:bold;
}

.footer div {
    color: var(--colorCeleste);
    font-size: 2em;
    margin-bottom: 10px;
}

.footer p {
    margin-top: 0px;
    margin-bottom: 60px;
}